/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

a{
  text-decoration: none;
}

button{
  background-color: transparent;
  border: transparent;
}

.cover{
  font-size:40px;
  font-weight: bold;
}

.category{
  font-size:35px;
  font-weight: bold;
  color: #0D365A;
  margin-bottom: 20px;
  font-family: "Alfarn";
}
.smallcover{
  font-size:17px;
  color: grey;
  text-shadow: none;
}
#topnav {
  background-color: orange;
}
#topnav-project {
  color: orange;
  background-color: white;
}
.nav-project{
  color: #85bfc6;
}

.dropdown-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    min-width: 160px;
    z-index: -1;
    transform: translateY(-2em);
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.dropdown:hover .nav-link {
  opacity: 0.8;
}

.nav-link{
  color: white;
}

.nav-center{
  color: white;
  margin: auto;
  font-weight: bolder;
  font-size: 18px;
}

.first-slide{
  background-color: orange;
}

.second-slide{
  background-color: orange;
}

.third-slide{
  background-color: orange;
}
/* CUSTOMIZE THE portf
-------------------------------------------------- */

/* portf base class */
.portf {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.portf-caption {
  bottom: 3rem;
}

#mycaption{
  padding-bottom: 20rem;
}
/* Declare heights because of positioning of img element */
.portf-item {
  height: 52rem;
  background-color: #f3e8a8;
}
.portf-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 52rem;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the portf */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.project{
  height: 32rem;
}

.project-inner{
  height:32rem;
}

.projectcover{
  color: #ef6b00;
  font-size:50px;
}

#video{
  margin:auto;
  height:530px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay1 {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 92%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.hcontainer:hover .overlay1 {
  opacity: 0.9;
}

.text1 {
  width: 80%;
  margin-bottom: 10px;
  color: white;
  font-size: 25px;
  position:absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.text2 {
  margin-top: 10px;
  color: white;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}
/* Form
------------------------- */
#contactp{
  text-align: center;
  padding-top: 10rem;

}

#contactt{
  margin-bottom: 5rem;
  font-size: 35px;
}

.contact-form{
  padding-right: 25rem;
  margin-bottom: 10rem;
}

.ipbox{
  margin-left: 60%;
  margin-bottom: 2rem;
  display: block;
  background-color: #ffffff;
  border-color: #DDDDEC;
  border-width: 1px;
  border-radius: 3px;
  height: 42px;
}

.submit-button {

    margin-left: 55%;
    border-style: solid;
    border-width: 1px;
    outline: none;
    width: 15rem;
  }
/*star*/



fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.comments{
  margin-top: 4rem;
  padding-top: 2rem;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  width: auto;
  background-color: #99a7a3;
}

.rating { 
  border: none;
  padding-right: 45%;
}
h2{
  padding-left: 5rem;
}
.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

/*star*/


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of portf content */
  .portf-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

